body{
    display: flex;
    flex-direction: column;
        background-color: lightgray;
}

.header{
    background-image: URL(../img/header.jpg);
    background-size:cover;
    min-height: 12em;
    
}

.content{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nav{
    
    background-color: #ccc;            
    flex: 0 0 12em;
}

.center{
    margin:0 auto;
}

.block{
    margin: 10px 0 10px 0;
}

.block input{
    display: block;
}

.header_img{
    width:150px;
    height:100px;
}

label{
    font-weight:bold;
}

.btn-default{
    padding: 5px 15px;
}


.navbar li{
    font-size:1.3em;
}